/*
    colors
    grey light:  #EFF0F1
    grey dark:  #666666
    green: #81C34D

*/

/* Clearfix */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

#wrapper {
    /* border-left: 1px #EFF0F1 solid;
    border-right: 1px #EFF0F1 solid; */
}

a {
    color: #ffffff;
    text-decoration: underline;
}

a:focus, a:hover {
    color: #ffffff;
}

.header_line{border-bottom: 1px #ccc solid; padding: 10px 0;}

/* LOGIN PAGE STYLES */
#login_wrapper {
    width: 100%;
    min-width: 280px;
    max-width: 350px;
    height: 550px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: url(../img/login_bg.png) no-repeat top center;
    padding-top: 180px;
}

#login_hr {
    width: 90%;
    border-top: 1px #A5CF91 solid;
    border-bottom: 1px #92C679 solid;
    margin: 10px auto;
}

div.custom_inp {
    width: 250px;
    margin: 10px auto;
    background-color: #AAD484;
    background-repeat: no-repeat;
    background-position: 10px center;
}

div.custom_inp_dsp_i_b{
	display: inline-block;
    background-color: #AAD484;
    background-repeat: no-repeat;
    background-position: 10px center;
}

div.custom_inp_dsp_i_b input{
    border: none;
    background-color: #AAD484;
    line-height: 25px;
    height: 25px;
    color: #ffffff;
    font-size: 16px;
}

body div.custom_inp_fluid{
	width: 100%;
    margin: 10px auto;
    background-color: #AAD484;
    background-repeat: no-repeat;
    background-position: 10px center;
}

div.custom_inp_fluid input {
    width: 90%;
    border: none;
    background-color: #AAD484;
    line-height: 35px;
    height: 35px;
    color: #ffffff;
    font-size: 16px;
    position: relative;
    right: -5%;
	outline: none;
}

div.custom_inp input {
    width: 80%;
    border: none;
    background-color: #AAD484;
    line-height: 35px;
    height: 35px;
    color: #ffffff;
    font-size: 16px;
    position: relative;
    right: -40px;
}

div.custom_inp input:focus {
    outline: none;
}

div.custom_login_inp {
    background-image: url(../img/login_icon.png);
}

div.custom_passw_inp {
    background-image: url(../img/password_icon.png);
    margin-bottom: 10px;
}

#save_me {
    color: #ffffff;
    width: 250px;
    margin: 0 auto;
    text-align: right;
}

#save_me input {
    display: none;
}

#save_me label {
    display: inline-block;
    position: relative;
    top: -4px;
}

#save_me span {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/checkbox_sprite.png) no-repeat top center;
}

#save_me span.custom_checked {
    background-position: 0 -18px;
}

.grey_login_btn {
    color: #ffffff;
    background-color: #606062;
    width: 180px;
    border: none;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
}

#login_btn {
    margin-top: 10px;
    text-align: center;
}

.centered {
    margin: 0 auto;
}

/* Popup style */
.popup_wrapper {
    background-color: #ffffff;
    border-radius: 5px;
}

.popup_header, .popup_body {
    padding: 10px;
}

.popup_header {
    border-bottom: 1px #e0e0e0 solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
    position: relative;
    background-image: -ms-linear-gradient(top, #7BBE4D 0%, #69AE4E 100%);
    background-image: -moz-linear-gradient(top, #7BBE4D 0%, #69AE4E 100%);
    background-image: -o-linear-gradient(top, #7BBE4D 0%, #69AE4E 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7BBE4D), color-stop(100, #69AE4E));
    background-image: -webkit-linear-gradient(top, #7BBE4D 0%, #69AE4E 100%);
    background-image: linear-gradient(to bottom, #7BBE4D 0%, #69AE4E 100%);
}

.popup_header .close_popup {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.popup_footer {
    border-top: 1px #e0e0e0 solid;
    text-align: right;
    padding: 5px 10px;
}

#restore_pwd {
    width: 100%;
    min-width: 280px;
    max-width: 400px;
    display: none;
}

#restore_pwd h3 {
    padding: 0;
    margin: 0;
}

/* Buttons style */
.button {
    border: none;
    cursor: pointer;
    text-align: center;
}

.button:active {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.button_green {
    color: #ffffff;
    background-color: #78BB4E;
    background-image: -ms-linear-gradient(top, #7BBE4D 0%, #69AE4E 100%);
    background-image: -moz-linear-gradient(top, #7BBE4D 0%, #69AE4E 100%);
    background-image: -o-linear-gradient(top, #7BBE4D 0%, #69AE4E 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7BBE4D), color-stop(100, #69AE4E));
    background-image: -webkit-linear-gradient(top, #7BBE4D 0%, #69AE4E 100%);
    background-image: linear-gradient(to bottom, #7BBE4D 0%, #69AE4E 100%);
}

.button_grey {
    color: #ffffff;
    background-color: #606062;
    background-image: -ms-linear-gradient(top, #606062 0%, #4B4B4B 100%);
    background-image: -moz-linear-gradient(top, #606062 0%, #4B4B4B 100%);
    background-image: -o-linear-gradient(top, #606062 0%, #4B4B4B 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #606062), color-stop(100, #4B4B4B));
    background-image: -webkit-linear-gradient(top, #606062 0%, #4B4B4B 100%);
    background-image: linear-gradient(to bottom, #606062 0%, #4B4B4B 100%);
}

.button_xsmall {
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 12px;
}

.button_small {
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 13px;
}

.button_medium {
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 14px;
}

.button_block {
    padding: 10px 0;
    width: 100%;
    border-radius: 3px;
}

#restore_email {
    width: 100%;
    height: 25px;
    line-height: 20px;
    font-size: 14px;
}

/* navbar */
.navbar-green {
    background-color: #81C34D;
    border-color: #81C34D
}

.navbar-green .navbar-brand {
    color: #ffffff
}

.navbar-green .navbar-brand:focus, .navbar-green .navbar-brand:hover {
    color: #fff;
    background-color: transparent
}

.navbar-green .navbar-text {
    color: #ffffff
}

.navbar-green .navbar-nav > li > a {
    color: #ffffff
}

.navbar-green .navbar-nav > li > a:focus, .navbar-green .navbar-nav > li > a:hover {
    color: #fff;
    background-color: transparent
}

.navbar-green .navbar-nav > .active > a, .navbar-green .navbar-nav > .active > a:focus, .navbar-green .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #81C34D
}

.navbar-green .navbar-nav > .disabled > a, .navbar-green .navbar-nav > .disabled > a:focus, .navbar-green .navbar-nav > .disabled > a:hover {
    color: #444;
    background-color: transparent
}

.navbar-green .navbar-toggle {
    border-color: #64A039
}

.navbar-green .navbar-toggle:focus, .navbar-green .navbar-toggle:hover {
    background-color: #64A039
}

.navbar-green .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-green .navbar-collapse, .navbar-green .navbar-form {
    border-color: #64A039
}

.navbar-green .navbar-nav > .open > a, .navbar-green .navbar-nav > .open > a:focus, .navbar-green .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #64A039
}

@media (max-width: 767px) {
    .navbar-green .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #64A039
    }

    .navbar-green .navbar-nav .open .dropdown-menu .divider {
        background-color: #64A039
    }

    .navbar-green .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff
    }

    .navbar-green .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-green .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #fff;
        background-color: transparent
    }

    .navbar-green .navbar-nav .open .dropdown-menu > .active > a, .navbar-green .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-green .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #fff;
        background-color: #64A039
    }

    .navbar-green .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-green .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-green .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #64A039;
        background-color: transparent
    }
}

.navbar-green .navbar-link {
    color: #ffffff
}

.navbar-green .navbar-link:hover {
    color: #fff
}

.navbar-green .btn-link {
    color: #ffffff
}

.navbar-green .btn-link:focus, .navbar-green .btn-link:hover {
    color: #fff
}

.navbar-green .btn-link[disabled]:focus, .navbar-green .btn-link[disabled]:hover, fieldset[disabled] .navbar-green .btn-link:focus, fieldset[disabled] .navbar-green .btn-link:hover {
    color: #64A039
}

.navbar-green .navbar-nav>.active>a, .navbar-green .navbar-nav>.active>a:focus, .navbar-green .navbar-nav>.active>a:hover{background-color: #64953B;}

#store_list div{
    margin-bottom: 20px;
    text-align: center;
}

#market_list div{
    margin-bottom: 20px;
}

#store_list div img, #market_list div img{
    width: 100%;
    max-width: 150px;
    min-width: 100px;
}

#store_list div img, #market_list div img{
    border: 2px #fff solid;
}

#store_list div.curent img, #market_list div.curent img {
    border-color: #81C34D;
}


#card_code input{
    height: 24px;
    line-height: 19px;
    width: 180px;
}
#card_code div{
    padding-top: 5px;
}
#card_code div span{
    display: inline-block;
    padding-right: 25px;
    background: url("../img/ajax-loader.gif") no-repeat right center;
}


/* Buttons style */
.button {
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.button:hover{text-decoration: none;}
.button:active {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.button_green {
    color: #ffffff;
    background-color: #78BB4E;
    background-image: -ms-linear-gradient(top, #7BBE4D 0%, #69AE4E 100%);
    background-image: -moz-linear-gradient(top, #7BBE4D 0%, #69AE4E 100%);
    background-image: -o-linear-gradient(top, #7BBE4D 0%, #69AE4E 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7BBE4D), color-stop(100, #69AE4E));
    background-image: -webkit-linear-gradient(top, #7BBE4D 0%, #69AE4E 100%);
    background-image: linear-gradient(to bottom, #7BBE4D 0%, #69AE4E 100%);
}

.button_grey {
    color: #ffffff;
    background-color: #606062;
    background-image: -ms-linear-gradient(top, #606062 0%, #4B4B4B 100%);
    background-image: -moz-linear-gradient(top, #606062 0%, #4B4B4B 100%);
    background-image: -o-linear-gradient(top, #606062 0%, #4B4B4B 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #606062), color-stop(100, #4B4B4B));
    background-image: -webkit-linear-gradient(top, #606062 0%, #4B4B4B 100%);
    background-image: linear-gradient(to bottom, #606062 0%, #4B4B4B 100%);
}

.button_xxsmall {
    padding: 5px 3px;
    border-radius: 2px;
    font-size: 10px;
    line-height: 20px;
}

.button_xsmall {
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 12px;
}

.button_small {
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 13px;
}

.button_medium {
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 14px;
}

.button_block {
    padding: 10px 0;
    width: 100%;
    border-radius: 3px;
}

#social_icons {
    text-align: center;
    border: 1px #C3C5C7 solid;
    margin: 20px 0;
    border-right: none;
    border-left: none;
}

#social_icons ul {
    lay: inline-block;
    padding: 5px 0;
}

#social_icons ul li {
	display: inline-block;
    padding: 0 10px 0px 5px;
    border-right: 1px #A9ABAE solid;
    margin-top: 7px;
}

#social_icons ul li a img {
    opacity: .4;
}

#social_icons ul li:last-child {
    border-right: none;
}

#copyright {
    padding-bottom: 10px;
}

#copyright p {
    text-align: center;
    color: #A9ABAE;
}

p.store_bonus {
    color: #81C34D;
}



.u_reg_wr {
    margin: 10px 0;
}

.u_reg_wr div.pull_left {
    width: 290px;
    min-height: 400px;
    padding: 20px;
    background-color: #76B94E;
    border-radius: 5px;
}

.u_reg_wr div.pull_left h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.u_reg_wr div.pull_left div.custom_inp input {
    width: 230px;
    right: -10px;
}

.u_reg_wr div.pull_left div.custom_inp {
    margin: 13px 0;
}

.u_reg_wr .pull_left .clearfix .pull_left {
    position: relative;
    display: inline-block;
    height: 37px;
}

.u_reg_wr p{
    margin: 0;
}

.u_reg_wr .pull_left .clearfix .pull_left input {
    width: 110px;
}

#update_captcha {
    display: inline-block;
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 80px;
    font-size: 11px;
}

.u_reg_wr div.pull_right ul{
    padding-left: 0;
}

.u_reg_wr div.pull_right ul li {
    list-style-type: none; 
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 17px;
    min-height: 65px;
}

.u_reg_wr div.pull_right ul li p img {
    float: left;
    margin-right: 20px;
}

.grey {
    color: #A9ABAE;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #81C34D;
    border-color: #6C9B46;
}


html body .ui-accordion .ui-accordion-content{
    padding-left: 1em;
    padding-right: 1em;
}

.green_bg {
    background-color: #ADED7E;
    margin-left:0; 
    margin-right:0;
    padding: 5px 0;
    border-radius: 3px;
}

.green_bg  div:last-child{
    text-align: right;
}

html body .ui-accordion .ui-accordion-icons{
    padding-left: 2em;
}

.goods_tbl tr td:first-child{
    padding-left: 16px;
}

.password_restore_hint {
    padding: 0 0 0 40px;
    background: url(../img/email_icon.png) no-repeat left center;
}
.modal_green .modal-header{
    background-color: yellow;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: linear-gradient(to bottom, #7BBE4D 0%, #69AE4E 100%);
    background-color: #7BBE4D;
    color: #ffffff;
}

.modal_green .modal-header .close{
    margin-top: 4px;
}

.navbar-select{
    float: left;
    /* height: 50px; */
    padding: 5px 5px;
    font-size: 13px;
    margin-top: 10px;
    line-height: 20px;
}

.menu_select_margin{margin-left: 18px;}

.outlined{ outline: 1px black dotted;}
.outlined_red{outline: 1px red solid;}
.no-minus-margin{margin-left:0; margin-right: 0;}

.t_on_gr{color: #ffffff;}
.ed_pg_sel{padding: 3px;}
label{color: #ffffff; font-weight: normal;}

table.t_w_sel{width: 100%;}
table.t_w_sel tr td{text-align: center; padding-left: 5px;}
table.t_w_sel tr td:first-child{text-align: left; padding-left: 0;}
table.t_w_sel tr td:last-child{text-align: right;}


/* for custom checkbox */
span.c_d_w{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/check_sprite.png) no-repeat top left;
	margin-right: 3px;
	position: relative;
	bottom: -2px;
}
.c_d_w_c{
	background-position: bottom left !important;
}

/* additonal */
#password_recover_message {
	float:left;
	display:none;
}
#market_auth_please_wait, 
#client_name_pattern, 
#client_auth_link,
#purchases_link_pattern,
._success_message_wrapper{
	display:none;
}
#market_auth_response ._error_message{
	text-align: left;
}
#see_purchases{
	color:#78BB4E;
	text-decoration:none;
}
#see_purchases:hover{
	text-decoration:underline;
}
._error_message {
	text-align: center;
	color: #c00;
}
.pagination_container{
	text-align: right;
    margin-top: -25px;
}
._input_standard_height {
	height:35px !important;
}
#cheques_order, #cheques_group{
	width: 230px;
	height: 35px;
	margin-left:15px;
}
#cheques_order{
	margin-bottom:3px;
}

.white_placeholder::-webkit-input-placeholder {
    color: #fff;
   /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  /* IE 5-7 */
  filter: alpha(opacity=80);

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
  opacity: 0.8;
}
.white_placeholder::-webkit-input-placeholder:after {
	color: #fff;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

	/* IE 5-7 */
	filter: alpha(opacity=80);

	/* Netscape */
	-moz-opacity: 0.8;

	/* Safari 1.x */
	-khtml-opacity: 0.8;

	/* Good browsers */
	opacity: 0.8;
}
.white_placeholder:-moz-placeholder {
  color: #fff;
   /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  /* IE 5-7 */
  filter: alpha(opacity=80);

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
  opacity: 0.8;
}
.white_placeholder:-moz-placeholder:after {
	color: #fff;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

	/* IE 5-7 */
	filter: alpha(opacity=80);

	/* Netscape */
	-moz-opacity: 0.8;

	/* Safari 1.x */
	-khtml-opacity: 0.8;

	/* Good browsers */
	opacity: 0.8;
}
.white_placeholder:-ms-input-placeholder {
  color: #fff;
   /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  /* IE 5-7 */
  filter: alpha(opacity=80);

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
  opacity: 0.8;
}
.white_placeholder:-ms-input-placeholder:after {
  color: #fff;
   /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  /* IE 5-7 */
  filter: alpha(opacity=80);

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
  opacity: 0.8;
}
.green_header{
	text-align:center;
	color:#6C9B46;
	font-size:18px;
}
.green_header_margin_bottom {
	margin-bottom: 15px;
}
#phone_number {
	margin-top: 5px;
}
/* additonal */