/* Clearfix */
.clearfix:before,.clearfix:after{content:""; display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.centered{margin: 0 auto;}
.pull_left{float: left;}
.pull_right{float: right;}
.dspl_i_b{display: inline-block;}
b, strong{font-weight: bold;}
h1{font-size: 22px;}
h2{font-size: 20px;}
h3{font-size: 18px;}

body{font-family: Verdana; font-size: 13px;}
a{color: #ffffff; text-decoration: underline;}
.container{width: 1007px;}
.inner_container{width: 967px;}

#green_line_wrapper{background-color: #81C34D; color: #ffffff;}

#content_wrapper{min-height: 200px;border-left: 1px #EFF0F1 solid; border-right: 1px #EFF0F1 solid;}
#header{border-bottom: 1px #C2C4C6 solid; padding-bottom: 10px;}
#logo a img{width: 180px;}
table.data_table{width: 100%;}
table.data_table tr td{padding: 3px 0;border-bottom: 1px #ccc solid;}
table.data_table tr td.data_table_first_child{width: 535px; padding-left: 10px;}
.data_table_last_child{width: 143px;}
table.data_table tr:last-child td{border-bottom: none;}
div.ppagination_wrapper{padding: 10px 0;}
ul.pagination{text-align: right;}
ul.pagination li{display: inline-block;text-align: center;}
ul.pagination li a{color: #666;padding: 3px;text-decoration: none;padding: 2px 6px;background-color: #F6F6F6;font-weight: bold;border-radius: 2px;}
ul.pagination li a.p_first,ul.pagination li a.p_prev,ul.pagination li a.p_next,ul.pagination li a.p_last{background-color: #CCCCCC;}
ul.pagination li a.p_cur{background-color: #72B54E;color: #ffffff;}

span.arrow{display: inline-block;width: 20px;height: 20px;background-repeat: no-repeat;background-position: center bottom;}
span.arrow_up{background-image: url(../img/arrow_up.png);}
span.arrow_down{background-image: url(../img/arrow_down.png);}
span.grren_span{display: inline-block;color: #2FA557;min-width: 50px;}
span.red_span{color: #D75053;display: inline-block;min-width: 50px;}

/* LOGIN PAGE STYLES */
#login_wrapper{width: 350px;height: 380px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; background: url(../img/login_bg.png) no-repeat top center;padding-top: 180px;}
#login_hr{width: 300px;border-top: 1px #A5CF91 solid;border-bottom: 1px #92C679 solid;margin: 10px auto;}
div.custom_inp{width: 250px;margin: 10px auto;background-color: #AAD484;background-repeat: no-repeat;background-position: 10px center;}
div.custom_inp input{width: 80%;border: none;background-color: #AAD484;line-height: 35px;height: 35px;color: #D9EAC7;font-size: 16px;position: relative;right: -40px;}
div.custom_inp input:focus{outline: none;}
div.custom_login_inp{background-image: url(../img/login_icon.png);}
div.custom_passw_inp{background-image: url(../img/password_icon.png);margin-bottom: 10px;}
#save_me{color: #ffffff;position: relative;right: -164px;}
#save_me input{display: none;}
#save_me label{display: inline-block; position: relative; top: -4px;}
#save_me span{display: inline-block; width: 16px; height: 16px; background: url(../img/checkbox_sprite.png) no-repeat top center; }
#save_me span.custom_checked{background-position: 0 -18px;}
.grey_login_btn{color: #ffffff;background-color: #606062;width: 180px;border: none;cursor: pointer;height: 35px;line-height: 35px;}
#login_btn{margin-top: 10px;text-align: center;}

span.total_sum{display: inline-block;min-width: 100px;font-weight: bold;}
span.bonus{display: inline-block;min-width: 40px;text-align: center;font-weight: bold;margin-right: 23px;}
span.buy_date, span.buy_time{font-weight: bold;}

div.total_sum, div.total_bonus{background-color: #A0E06F; margin-top: 5px; padding: 3px 0 3px 10px; border-radius: 2px;}
.total_sum .pull_right{margin-right: 92px;}
.total_bonus .pull_right{margin-right: 10px;}

#social_icons{text-align: center;border: 1px #C3C5C7 solid;margin: 20px;border-right: none;border-left: none;}
#social_icons ul{lay: inline-block;padding: 5px 0;}
#social_icons ul li{display: inline-block;	padding: 0 10px 0 5px;border-right: 1px #A9ABAE solid;}
#social_icons ul li a img{opacity: .4;}
#social_icons ul li:last-child{border-right: none;}
#copyright {padding-bottom: 10px;}
#copyright p {text-align: center;color: #A9ABAE;}
#store_list{margin-top: 20px;}
#store_list ul li{display: inline-block;margin-left: 13px;}
#store_list ul li img{border: 1px #A9ABAE solid;}
#store_list ul{margin-bottom: 20px;}
#store_list ul li:first-child{margin-left: 0;}
#registration_wrapper{background-color: #7CBF4D;min-height: 100px;}
